h1{
	color: orchid;
	text-align: center;
}
dt{
	font-size: 30px;
}
dd{
	font-size: 25px;
}
a{
	font-size: 35px;
	text-decoration: none;
}
body{
	background-color: navajowhite;
}
.ruska{
	font-size: 35px;
}