h1{
	color: orchid;
	text-align: center;
}
dt{
	font-size: 30px;
}
dd{
	font-size: 25px;
}
a{
	font-size: 25px;
	text-decoration: none;
}
body{
	background-color: navajowhite;
}
table{
	width: 80%;
	margin: auto;
	border-collapse: collapse;
	background-color: papayawhip;
	padding: 10px;
	font-family: Courier New, monospace;


}
th,td{
	border: 2px solid black;
	color: indigo;
}
caption{
	font-weight: bold;
	font-size: 20px;
}
.Points{
	background-color: lightblue;
}
th{
	color: black;
	font-weight: bolder;
	font-family: Helvetica, sans-serif;
}
.Name, .Rating{
	text-align: center;
}
.menu{
	position: relative;
}
.menu a{
	font-family: sans-serif;
	color: #5757a0;
	display: inline-block;
	padding:10px 20px;
	background-color: lavender;
	border-bottom: 5px solid #5757a0;
	border-radius: 10px;
}
.menu li{
	display: inline;

}
.Answer{
	background-color: thistle;
}
.menu a:hover, .menu li:hover{
	color: white;
	background-color:#5757a0;
	border-color: black;
}
*{
	margin: 0;
	padding: 0;
}
header{
	background: #232b36;
	height: 100vh;
	position: relative;
}
.clip{
	position: absolute;
	height: 100%;
	width: 100%;
}
.space007{
	background: url(space007.jpg) no-repeat center;
	background-size: cover;
}
.space1337{
	background: url(space1337.jpg) no-repeat center;
	background-size: cover;
	transition: .5s;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}
.space1337:hover{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.space007:hover ~ .space1337{
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.menu_po_centru{
	margin-left: 8%;
}